@import url('https://fonts.googleapis.com/css2?family=Jua&family=Stylish&display=swap');

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Stylish', sans-serif;
  margin: 0;
  min-height: 100vh;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: #fff;
  box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
  min-height: 100vh;
  padding: 0 20px;
}
